@import 'src/sass/variables';


.wrapper {
    position: fixed; /* Фиксированная позиция */
    top: 720px; /* Отступ сверху */
    right: 30px; /* Отступ справа */
    z-index: 100; /* Z-index, чтобы быть поверх остального контента */

    @media screen and (min-width: $tablet) {
        top: 700px; /* Отступ сверху */
        right: 60px; /* Отступ справа */
        z-index: 1000; /* Z-index, чтобы быть поверх остального контента */
    }
}