@import 'src/sass/variables';


.wrapper {
    position: fixed; /* Фиксированная позиция */
    top: 700px; /* Отступ сверху */
    right: 50px; /* Отступ справа */
    z-index: 100; /* Z-index, чтобы быть поверх остального контента */

    @media screen and (min-width: $tablet) {
        top: 600px; /* Отступ сверху */
        right: 60px; /* Отступ справа */
        z-index: 1000; /* Z-index, чтобы быть поверх остального контента */
    }
}

.wrapper::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 122px;
    height: 122px;
    background-color: #bebebe;
    border-radius: 50%;
    transform: translate(-50%, -52%) scale(0);
    opacity: 0.6;
    z-index: -1;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -52%) scale(0);
        opacity: 0.6;
    }
    100% {
        transform: translate(-50%, -52%) scale(1);
        opacity: 0;
    }
}