.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
  background: #F8F3E9;
  gap: 18px;
  margin-bottom: 86px;
  margin-top: 150px;

 
}

.mainTitle {
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  font-weight: 600;
}

.title {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

.description {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;

}

.description {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

